<div class="ui center aligned basic segment">
    <h2 class="ui header">New project</h2>
</div>
<div class="ui top segment secondary">
    <h4 class="ui header">Add new project</h4>

</div>
<div class="ui form segment">
    <form id="project_form">
        <div class="fields">
            <!-- Project title etc. -->
            <div class="five wide field">
                <label>Project name</label>
                <input name="project_name" placeholder="Name of the project" type="text">
            </div>
            <div class="five wide field">
                <label>Repository name</label>
                <input name="repo_name" placeholder="For Github repository" type="text">
            </div>
            <div class="five wide field">
                <label>Shortname</label>
                <input name="short_name" placeholder="In case lacking repository" type="text">
            </div>
        </div>
        <div class="fields">
            <div class="five wide field">
                <div class="ui checkbox">
                    <input name="website_project" type="checkbox">
                    <label>Website project</label>
                </div>
            </div>
        </div>
        <div class="ui horizontal divider">Project text sections</div>
        <div id="form_section_container">
            <div class="fields" id="section">
                <div class="five wide field">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Section name</label>
                            <input name="section_name" placeholder="First Name" type="text">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field">
                            <button class="ui basic button" id="remove_section">Remove this section</button>
                        </div>
                    </div>
                </div>
                <div class="eleven wide field">
                    <label>Text</label>
                    <textarea name="section_text" placeholder="Paragraph for a section."></textarea>
                </div>
            </div>

        </div>
        <div class="ui divider"></div>
        <div class="fields">
            <div class="field">
                <div class="floated right">
                    <button class="ui primary button" id="submitbtn">Submit</button>
                </div>
            </div>
            <div class="field">
                <button class="ui teal labeled icon button" id="add_new_section">
                    Add new section
                    <i class="add icon"></i>
                </button>
            </div>
            <div class="field">
                <button class="ui button" id="project_form_clear">Clear</button>
            </div>

        </div>
        <div class="ui error message" id="error_messages"></div>
        <div class="ui success message" id="success_messages"></div>
    </form>
</div>
<script src="/js/helpers.js"></script>