<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Rulle's small website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/custom2.css" rel="stylesheet">
  </head>

  <body>
  <div class="main_wrap">
    <div class="navi">
      <div class="ui left vertical menu sidebar">
        ...
      </div>
      <div class="ui stackable attached menu">
        <div class="ui container">
          <a href="#" class="header item">
            Rulle
          </a>
          <a href="/" class="item"><i class="home icon"></i>Home</a>
          <a href="#" class="item">Projects</a>
          <a href="#" class="item">Projects</a>
          <a href="/test" class="item">test</a>
          <!--
          <div class="ui simple dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
              <div class="divider"></div>
              <div class="header">Header Item</div>
              <div class="item">
                <i class="dropdown icon"></i>
                Sub Menu
                <div class="menu">
                  <a class="item" href="#">Link Item</a>
                  <a class="item" href="#">Link Item</a>
                </div>
              </div>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <div class="contentContainer">
      <!-- Fix to get the scrollbar to the "main" section instead of the while page -->
      <div style="position:relative; height: 100%">
        <div style="overflow-y: auto; position: absolute; top: 0px; right:0; bottom: 0; left: 0;">
          <div class="ui container pusher">

            {{{body}}}
          </div>
        </div>
      </div>
    </div>
    <div class="footer border-top border-dark">
      <div class="container">
      </div>
    </div>
  </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>

	  <script src="/js/page.js"></script>
  </body>
</html>
