<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner" id="navbar">
              <h3 class="masthead-brand">Cover</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <!--<a class="nav-link" href="#">Projects</a>-->
                <a class="nav-link" href="#">Contact</a>
				        <a class="nav-link dropdown-toggle dropdown" href="http://example.com" id="dropdown01" 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
				        <div class="dropdown-menu" aria-labelledby="dropdown01">
					        <a class="dropdown-item" href="#">Hiragana</a>
					        <a class="dropdown-item" href="#">Katakana</a>
					        <!--<a class="dropdown-item" href="#">Kanji</a>-->
				        </div>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading">Rulle's projects.</h1>
            <p class="lead">On this website there are some projects that I worked on.</p>
            <p class="lead">
            <a href="/hiragana" class="btn btn-lg btn-secondary">Hiragana</a>
			      <a href="/katakana" class="btn btn-lg btn-secondary">Katakana</a>
			      <!--<a href="/kanji" class="btn btn-lg btn-secondary">Kanji</a>-->
            </p>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>. Modified by rulle.</p>
            </div>
          </footer>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/page.js"></script>
  </body>
</html>
