<div class="ui container">
    <div class="ui segments">
        <div class="ui segment">
            <img class="ui fluid image" src="/images/218953-P106ZX-296.jpg">
        </div>
        <div class="ui secondary right aligned segment">
            <a href='https://www.freepik.com/free-vector/404-error-design-with-box_1534894.htm'>Designed by Freepik</a>
        </div>
    </div>
</div>
