<div class="ui container">
    <div class="ui grid">
        <div class="three wide column">
            <div class="ui vertical fluid menu pointing menu" id="dashboard_menu">
                <a class="item" data-tab="current_projects">
                    <i class="small archive icon"></i>
                    Current Projects
                </a>
                <a class="item" data-tab="new_project">
                    <i class="small edit outline icon"></i>
                    New Project
                </a>
                <a class="item" data-tab="tab3">
                    Sales scraper
                </a>

            </div>
        </div>
        <div class="thirteen wide stretched column">
            <div class="ui tab segment" data-tab="current_projects">
                <h3 class="ui header">AJAX Tab first</h3>

            </div>
            <div class="ui tab segment" data-tab="new_project" style="margin-top: 0!important;">
                {{> new_project}}
            </div>
            <div class="ui tab segment" data-tab="tab3" style="margin-top: 0!important; margin-bottom: 14px!important;">
                <div class="ui center aligned basic segment">
                    <h2 class="ui header">Update sales data</h2>
                </div>

                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="ui basic segment">
                            <h4 class="ui header">Sales scraper data</h4>
                        </div>
                        <table class="ui small blue collapsing compact celled table">
                            <thead>
                                <tr>
                                    <th>Webstore</th>
                                    <th>Total products in DB</th>
                                    <th>Last updated</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jimms</td>
                                    <td>200</td>
                                    <td>Today</td>

                                </tr>
                                <tr>
                                    <td>Verkkokauppa.com</td>
                                    <td>3000</td>
                                    <td>Today</td>

                                </tr>

                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th colspan="3">
                                        <div class="ui tiny primary button" id="update_sales_data">
                                            Update
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="six wide column">
                        <div class="ui basic segment">
                            <h4 class="ui header">Add new store</h4>
                        </div>
                        <div class="ui segment">
                            <form class="ui form" id="new_store_form">
                                <div class="field">
                                    <label>Store name</label>
                                    <input name="store_name" placeholder="Store Name" type="text" required>
                                </div>
                                <div class="field">
                                    <label>Store URL</label>
                                    <input name="store_url" placeholder="Store URL" type="url" required>
                                </div>
                                <div class="ui error message" id="error_messages"></div>
                                <div class="ui success message" id="success_messages"></div>
                                <button class="ui tiny primary button" type="submit" id="add_store">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>