<div class="ui vertical stripe segment" style="padding-bottom: 5rem!important;">
    <div class="ui text container">
        <h2 class="ui header">Project for Ohjelmallinen Sisällönhallinta</h2>
        <p>This website is a project that was created for the course Ohjelmallinen sisällönhallinta. The website consists of
            registering an account and linking it with your twitter account. Finally after linking you can retrieve your
            twitter tweets that are then used as data for
            <strong>markov chain</strong> generated blog posts. Wordcloud is also generated based on the fetched tweet data.</p>
        <p>The website was created using Node.js with Express.js web framework. For authentication it's using Passport package.
            Retrieving data from twitter uses Twit package. Also for wordcloud it uses D3.js + d3-cloud.</p>
        <p>The project repository is available at
            <a href="https://github.com/Rutle/ohsiha-website/">Github</a>.
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui text container">
        <h2 class="ui header">Project for Ohjelmallinen Sisällönhallinta</h2>
        <p>This website is a project that was created for the course Ohjelmallinen sisällönhallinta. The website consists of
            registering an account and linking it with your twitter account. Finally after linking you can retrieve your
            twitter tweets that are then used as data for
            <strong>markov chain</strong> generated blog posts. Wordcloud is also generated based on the fetched tweet data.</p>
        <p>The website was created using Node.js with Express.js web framework. For authentication it's using Passport package.
            Retrieving data from twitter uses Twit package. Also for wordcloud it uses D3.js + d3-cloud.</p>
        <p>The project repository is available at
            <a href="https://github.com/Rutle/ohsiha-website/">Github</a>.
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui text container">
        <h2 class="ui header">Project for Ohjelmallinen Sisällönhallinta</h2>
        <p>This website is a project that was created for the course Ohjelmallinen sisällönhallinta. The website consists of
            registering an account and linking it with your twitter account. Finally after linking you can retrieve your
            twitter tweets that are then used as data for
            <strong>markov chain</strong> generated blog posts. Wordcloud is also generated based on the fetched tweet data.</p>
        <p>The website was created using Node.js with Express.js web framework. For authentication it's using Passport package.
            Retrieving data from twitter uses Twit package. Also for wordcloud it uses D3.js + d3-cloud.</p>
        <p>The project repository is available at
            <a href="https://github.com/Rutle/ohsiha-website/">Github</a>.
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui text container">
        <h2 class="ui header">Project for Ohjelmallinen Sisällönhallinta</h2>
        <p>This website is a project that was created for the course Ohjelmallinen sisällönhallinta. The website consists of
            registering an account and linking it with your twitter account. Finally after linking you can retrieve your
            twitter tweets that are then used as data for
            <strong>markov chain</strong> generated blog posts. Wordcloud is also generated based on the fetched tweet data.</p>
        <p>The website was created using Node.js with Express.js web framework. For authentication it's using Passport package.
            Retrieving data from twitter uses Twit package. Also for wordcloud it uses D3.js + d3-cloud.</p>
        <p>The project repository is available at
            <a href="https://github.com/Rutle/ohsiha-website/">Github</a>.
    </div>
</div>