<div class="row justify-content-start"> <!-- Heading -->
  <div class="col"><h1 class="text-left"><strong>></strong>Rulle's projects</h1></div>
</div>

<hr>
<div class="row"> <!-- Cards row -->
  <div class="col-md-4"> <!-- Hiragana card's 'container' -->
    <div class="card text-dark bg-light mb-3 card-box">
      <div class="card-header">ひらがな</div>
      <div class="card-body">
        <h5 class="card-title">Hiragana</h5>
        <p class="card-text">Small game for practicing Hiragana. It's either 'hiragana to romaji' or 'romaji to hiragana'</p>
      </div>
      <div class="card-footer">
        <!--<button type="button" class="btn-block btn btn-light" id="hiraganaBtn">Play</button>-->
        <a class="btn-block btn btn-dark" href="/game/hiragana" role="button" id="hiraganaBtn"><strong>Play</strong></a>
      </div>
    </div>
  </div> <!-- Hiragana card's 'container' ends -->
  <div class="col-md-4"> <!-- Katakana card's 'container' -->
    <div class="card text-dark bg-light mb-3 card-box">
      <div class="card-header">カタカナ</div>
      <div class="card-body">
        <h5 class="card-title">Katakana</h5>
        <p class="card-text">Small game for practicing Katakana. It's either 'katakana to romaji' or 'romaji to katakana'</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn-block btn btn-dark" id="hiraganaBtn">Light</button>
      </div>
    </div>
  </div> <!-- Katakana card's 'container' ends -->
  <div class="col-md-4"> <!-- Something card's 'container' -->
    <div class="card text-dark bg-light mb-3 card-box">
      <div class="card-header">Something</div>
      <div class="card-body">
        <h5 class="card-title">Something</h5>
        <p class="card-text">Small game for practicing Hiragana. It's either 'hiragana to romaji' or 'romaji to hiragana'</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn-block btn btn-dark" id="hiraganaBtn">Light</button>
      </div>
    </div>
  </div> <!-- Something card's 'container' ends -->
</div> <!-- Cards row end -->
