

<!--<h4>Projects on this website for Japanese language practice.<h2>-->

<div class="row justify-content-end"> <!-- Heading -->
  <div class="col-md-6"><h1 class="text-right">Rulle's projects<strong><</strong></h1></div>
</div>

<hr>
<div class="row"> <!-- Cards -->
  <div class="col-md-3"> <!-- Hiragana card's 'container' -->
    <div class="card text-white bg-dark mb-3 card-box">
      <div class="card-header">ひらがな</div>
      <div class="card-body">
        <h5 class="card-title">Hiragana</h5>
        <p class="card-text">Small game for practicing Hiragana. It's either 'hiragana to romaji' or 'romaji to hiragana'</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn-block btn btn-light" id="hiraganaBtn">Play</button>
      </div>
    </div>
  </div> <!-- Hiragana card's 'container' ends -->
  <div class="col-md-3"> <!-- Katakana card's 'container' -->
    <div class="card text-white bg-dark mb-3 card-box">
      <div class="card-header">カタカナ</div>
      <div class="card-body">
        <h5 class="card-title">Katakana</h5>
        <p class="card-text">Small game for practicing Katakana. It's either 'katakana to romaji' or 'romaji to katakana'</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn-block btn btn-light" id="hiraganaBtn">Light</button>
      </div>
    </div>
  </div> <!-- Katakana card's 'container' ends -->
  <div class="col-md-3"> <!-- Something card's 'container' -->
    <div class="card text-white bg-dark mb-3 card-box">
      <div class="card-header">Something</div>
      <div class="card-body">
        <h5 class="card-title">Something</h5>
        <p class="card-text">Small game for practicing Hiragana. It's either 'hiragana to romaji' or 'romaji to hiragana'</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn-block btn btn-light" id="hiraganaBtn">Light</button>
      </div>
    </div>
  </div> <!-- Something card's 'container' ends -->
</div> <!-- Cards End -->
