<div class="ui container">
      <div class="ui two column stackable grid container">
            <div class="eleven wide column">
                  <div class="ui vertical segment">

                        <h2 class="ui center aligned header">{{projectName}}</h2>
                        <div class="ui horizontal divider" style="padding-top: 2rem;">Description</div>
                        <p>
                              This project page is intended for the website you are currently using. This website 
                              consists of personal projects that I have been working on my own or projects as a part of
                              a course at the <abbr title="Tampere University of Technology">TUT</abbr>.
                        </p>
                        <p>
                              Projects that I have done on my own are either done in C++ or Javascript. However, there are
                              also small Python programs that I have made. These range from small stat calculator programs
                              to a website such as this.
                        </p>
                        <p>
                              The point of this website is to list my projects and to describe them. However, each project
                              page is inteded to have some extra information about it such as commit feed from Github. Having
                              a commit feed on a project page is not particularly important, but for me it's important to see
                              what sort of additional functionalities I can implement on this site and enhance it. Also I truly
                              want to learn more things so these additional features give me more experience.
                        </p>
                        <div class="ui horizontal divider" style="padding-top: 2rem;">Projects</div>
                        <p>
                              So far I have made some small projects such as a stat calculator for a video game but I also started
                              to work on a roguelike game with C++ which isn't small project at all. The roguelike game was also
                              used in my Bachelor's thesis and especially the part about dungeon generation with 
                              <abbr title="Binary Space Partitioning">BSP</abbr>. Other projects descriped on this website include 
                              Twitch stream program which purpose was to fetch stream information about current streams and list their 
                              information in prefered way on the program. 
                        </p>
                        <p>
                              Finally, on this website there are also a couple of projects that I have been working as a part of 
                              a course completion. One of them is a fully functional website which is sort of a blog that generates
                              blogposts with the help of the registered user's twitter feed. The twist is that the blogposts are
                              generated using Markov chain. 
                        </p>
                        </p>      
                              The other school project is a data science related project made with Jupyter Notebook that is running 
                              in AWS environment. Project's point was to gather data or use existing data set, clean it, apply some machine
                              learning and try to predict something from it. I had chosen Paris' Airbnb data on which I try to predict
                              prices based on a couple of features.
                        </p>
                  </div>
            </div>
            <div class="right floated five wide column">
                  <div class="ui segments">
                        <div class="ui secondary segment">
                            <div id="commit_header">
                              <h5 class="ui top header" style="margin-bottom: 2px!important;">
                                    Recent commits for '{{projectName}}'
                              </h5>
                              <i class="angle up icon" id="minimize_icon"></i>
                            </div>

                        </div>
                        <div class="ui segment">
                              <div class="ui feed" id="commit_feed">
                              </div>
                        </div>
                  </div>
            </div>
      </div>

</div>


<script src="/js/helpers.js"></script>
<script>
    // Fetch commits once page has been fully loaded.
    
    $(function() {
        document.body.onload = buildFeed('{{{repo}}}');
        //document.body.onload = getCommits('website');
    });
    
</script>

</div>