
<h1 class="cover-heading">Rulle's projects.</h1>
<!--<h4>Projects on this website for Japanese language practice.<h2>-->

<a href="/hiragana" class="btn btn-lg btn-secondary">Hiragana</a>
<a href="/katakana" class="btn btn-lg btn-secondary">Katakana</a>
<a href="/kanji" class="btn btn-lg btn-secondary">Romaji</a>

<!--<h4>Projects at Github.</h4>-->
<a href="/hiragana" class="btn btn-lg btn-secondary">Twitch app</a>
<a href="/katakana" class="btn btn-lg btn-secondary">Calculator</a>
<a href="/kanji" class="btn btn-lg btn-secondary">Speed game</a>
