<div class="ui container">
  <div class="ui segment">
    <div class="ui items">
      <div class="item">
        <span class="glyph_db"><i class="fa-6x fas fa-database"></i></span>
        <div class="content">
         <a class="header">Price scraper</a>
          <div class="description">
            <p>From the course I took in Tampere University of Technology related to data science got me interested in trying to make a scraper.
            The idea for now is to scrape a few websites for computer hardware prices and take try to grab those those items that are on sale.
            There is an intention to possibly try to catalog them into database based on their product codes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <div class="ui items">
      <div class="item">
        <a class="ui small image"><img></a>
        <div class="content">
         <a class="header">Cute Dog</a>
          <div class="description">
            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are </p>
            <p>cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
            <p>Many people also have their own barometers for what makes a cute dog.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <div class="ui items">
      <div class="item">
        <a class="ui small image"><img></a>
        <div class="content">
         <a class="header">Cute Dog</a>
          <div class="description">
            <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are </p>
            <p>cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
            <p>Many people also have their own barometers for what makes a cute dog.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>