
html {

  height: 100%;
  max-height: 100%;

}

body {
  /*padding-top: 3rem;*/
  height: 100vh;
  max-height: 100%;
  /*background-color: #f9fbff!important;*/
  
  

  /*
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .25);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
   /* Margin bottom by footer height */

}



.content_wrap {
  padding-top: 3rem;
  background-color: #F2F1EF!important;
}
#full_menu {
  border-top-style: none;
  padding-left: calc(100vw - 100%);
}
#lesser_menu {
  border-top-style: none;
  padding-left: calc(100vw - 100%);
}
.glyph_db {
  margin-right: 2em;
  padding-left: 1em;
  padding-top: 5px;
}
.commit_message {
  background:#f7f7f7!important;
}

.test_border {
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 5px;
}
#commit_feed {
    -moz-transition: height .5s!important;
    -ms-transition: height .5s!important;
    -o-transition: height .5s!important;
    -webkit-transition: height .5s!important;
    transition: height .5s!important;
    overflow: hidden!important;
}

#commit_header {
    position: relative!important;
}

#commit_header i {
    position: absolute!important;
    top: -5px!important;
    right: -5px!important;
    opacity: 0.6;
    transition: 0.3s;
    
}

.slider_wrapper {
    display: flex!important;
 
}
#slider_button {
    background-color: #fff;
    height: 50px;
    margin-top: 1rem;
    margin-right: 0;
    padding: 1px;
    width: 10px;
    align-self: center!important;
    position: relative;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-right: none;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);

}
#slider_caret {
    position: absolute; 
    top: 44%;
}

#login_form {
    max-width: 450px;
}

.card_extra_section_left {
    background-color:rgb(81, 216, 113); 
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block; 
    width:50%;
    float: left;
    color:black;
}
.card_extra_section_right {
    background-color: rgb(116, 191, 226);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block; 
    width:50%;
    float:right;
    color:black;
}
.card_transition {
    -moz-transition: height 0.35s ease-out, padding-top 0.2s ease, padding-bottom 0.2s ease!important;
    -ms-transition: height 0.35s ease-out, padding-top 0.2s ease, padding-bottom 0.2s ease!important;
    -o-transition: height 0.35s ease-out, padding-top 0.2s ease, padding-bottom 0.2s ease!important;
    -webkit-transition: height 0.35s ease-out, padding-top 0.2s ease, padding-bottom 0.2s ease!important;
    transition: height 0.35s ease-out, padding-top 0.2s ease, padding-bottom 0.2s ease!important;
    overflow: hidden!important;
}

.ext_cat {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block; 
    border-right: 1px solid rgba(34,36,38,.1);
    width:15%;
    float: left;
    color:black;


    /*1px solid rgba(34,36,38,.1)*/
}
/*
.ext_left:hover {
    background-color: #f9fbff;
    border-top-left-radius: 4px;

}*/
.ext_name {
    /*background-color:rgb(233, 247, 236); */
    /*background-color: #16a085;*/
    /*background-color: #A2DED0;*/
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block;
    float: left;
    width:55%;
    color:black;
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.ext_right {
    /*background-color:rgb(224, 244, 253);*/
    background-color: #2980b9;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block; 
    width:15%;
    color:black;
    border-top-right-radius: inherit; 
    border-bottom-right-radius: inherit;
}
.ext_sale {
    /*background-color:rgb(233, 247, 236); */
    /*background-color: #16a085;*/
    background-color: #A2DED0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block;
    width:15%;
    color:black;
}


.ext_container {
    /*
    -webkit-box-shadow: 0px 1px 3px 0px rgba(212,212,213,1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(212,212,213,1);
    box-shadow: 0px 1px 3px 0px rgba(212,212,213,1);
    -webkit-box-shadow: 0px 0px 0px 1px rgb(212, 212, 213);
    -moz-box-shadow: 0px 0px 0px 1px rgb(212, 212, 213);
    box-shadow: 0px 0px 0px 1px rgb(212, 212, 213);
*/
/*box-shadow: rgb(212, 212, 213) 0px 1px 3px 0px, rgb(212, 212, 213) 0px 0px 0px 1px;*/
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    z-index: '';
    box-sizing: border-box;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
/*border: 1px solid #e0e0e0;*/
}

.ext_bottom {
    border-radius: inherit;

}
.ext_bottom_desc {
    /*background-color:#ffffff;*/
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block; 
    width:70%;
    float: left;
    color:black;
    border-top: 1px solid rgba(34,36,38,.1);

    border-bottom-left-radius: 4px;
}
/*
.ext_bottom_desc:hover {
    background-color: #f9fbff;
}
*/
.ext_bottom_meta {
    /*background-color:#ffffff;*/
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display:inline-block;
    width:30%;
    float: right;
    color:black;
    border-top: 1px solid rgba(34,36,38,.1);
    border-left: 1px solid rgba(34,36,38,.1);
    font-size: 1em;
    color: rgba(0, 0, 0, 0.815);
    border-bottom-right-radius: 4px;
}
/*
.ext_bottom_meta:hover {
    background-color: #f9fbff;

}*/
.ext_top_row {
    /*border-top: 1px solid rgba(34,36,38,.1);*/
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*border-left:1px solid rgba(34,36,38,.1);*/
    /*border-right:1px solid rgba(34,36,38,.1);*/
}
.ext_middle_row {
    border-top: 1px solid rgba(34,36,38,.1);
    /*border-left: 1px solid rgba(34,36,38,.1);*/
    /*border-right: 1px solid rgba(34,36,38,.1);*/
}
.ext_bottom_row {
    border-top: 1px solid rgba(34,36,38,.1);

    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ext_container > div:nth-child(odd) {
    background-color: #ecf0f1;
}
/* https://codepen.io/team/css-tricks/pen/KzWORB?editors=1100 */
/* https://css-tricks.com/accessible-simple-responsive-tables/ */
.ftable {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 3em 0;
    padding: 0;
    font-size: 1em;
}
.ftable-cell {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1.0em;
    overflow: hidden;
    list-style: none;
    border: solid 2px white;
    background: rgba(112, 128, 144, 0.2);
}


.ftable-toprow {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top-left-radius: 4px;
    /*border: solid 3px rgba(34,36,38,.1);*/
    border-top-right-radius: 4px;
}
.ftable-middlerow {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top-left-radius: 0px;
    /*border: solid 3px rgba(34,36,38,.1);*/
    border-top-right-radius: 0px;
}
.ftable-bottomrow {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top-left-radius: 0px;
    /*border: solid 3px rgba(34,36,38,.1);*/
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.ftable--3cols > .ftable-toprow > .ftable-cell,
.ftable--3cols > .ftable-middlerow > .ftable-cell,
.ftable--3cols > .ftable-bottomrow > .ftable-cell {
    width: 15%;
    flex-grow: 1;
    text-align: center;
}
.ftable--3cols > .ftable-toprow > .ftable-cell:nth-child(3),
.ftable--3cols > .ftable-middlerow > .ftable-cell:nth-child(3),
.ftable--3cols > .ftable-bottomrow > .ftable-cell:nth-child(3) {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    text-decoration: line-through;
}
.ftable--3cols > .ftable-toprow > .ftable-cell--head,
.ftable--3cols > .ftable-middlerow > .ftable-cell--head,
.ftable--3cols > .ftable-bottomrow > .ftable-cell--head {
    width: 70%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: inherit;
    border-top-right-radius: 0px;
    border-bottom-left-radius: inherit;
}

/* Table styles */
.ftable-cell {
    margin: -3px 0 0 -3px;
    background-color: white;
    border-color: #e2e6e9;
}

.ftable-cell--price {
    background-color: #b8c0c8;
    border-color: #a9b3bc;
}

.ftable-cell--head {
    background-color: slategrey;
    border-color: #5a6673;
    color: white;
  }

.c-card {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: .875em .5em;
    width: 290px;
    padding: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
  
}
.c-card > .c-icon {
    height: 100%;
    /*border: 1px solid red;*/
    width: 25%;
    vertical-align: middle;
}

.c-card > .c-content {
    flex: 1;
    width: 80%;
    height: 100%;
    flex-direction: column;
}
.c-card > .c-content > .c-header {
    background-color: #d2d4d8;
    padding: 0.5em 0.5em;
    height: 20%;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.15px;
    border-bottom: 1px solid #a9b3bc;
}
.c-card > .c-content > .c-desc {
    background-color: #ecf0f1;
    height: 80%;
    padding: 0.5em 0.5em;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
    .ftable--collapse {
        /*display: block;*/
    }
    .ftable--collapse > .ftable-toprow {
        /*display: block;*/
    }
    .ftable--collapse > .ftable-toprow > .ftable-cell:nth-child(2),
    .ftable--collapse > .ftable-middlerow > .ftable-cell:nth-child(2),
    .ftable--collapse > .ftable-bottomrow > .ftable-cell:nth-child(2) {
        min-width: 50%!important;
        border-bottom-left-radius: 4px;

        /*float: left;*/
    }
    .ftable--collapse > .ftable-toprow > .ftable-cell:nth-child(3),
    .ftable--collapse > .ftable-middlerow > .ftable-cell:nth-child(3),
    .ftable--collapse > .ftable-bottomrow > .ftable-cell:nth-child(3) {
        min-width: 50%!important;
        border-top-right-radius: 0px;

    }
    .ftable--collapse > .ftable-toprow > .ftable-cell--head,
    .ftable--collapse > .ftable-middlerow > .ftable-cell--head,
    .ftable--collapse > .ftable-bottomrow > .ftable-cell--head {
        min-width: 100%!important;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    /*
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }*/

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 767.98px) {

}
/*@media only screen and (min-width: 1145px) {*/
@media only screen and (min-width: 991px) {
  #lesser_menu {
    display: none;
  }
}
/*@media only screen and (max-width: 1144px) {*/
@media only screen and (max-width: 992px) {
  #full_menu {
    display: none;
  }
}
